<div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Danh sach phim</h3>
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th> # </th>
              <th> Name </th>
              <th> Name </th>
              <th> Author </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of movies; let i = index">
              <td> {{ i +1 }} </td>
              <td> {{ item.name }} </td>
              <td><a [href]="item.link"> {{ item.name }} </a></td>
              <td> {{ item.author }} </td>
            </tr>
          </tbody>
        </table>

    </div>
</div>
